{% extends "users/layout.html" %}

{% block content %}
<h1 class="mb-4">Новый пользователь</h1>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for _, error in errors.items() %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form action="{{ url_for('users_post') }}" method="post" class="mb-3">
    <div class="mb-3">
        <label for="user-name" class="form-label">Имя:</label>
        <input type="text" class="form-control" id="user-name" name="name" value="{{ user.name }}">
    </div>
    <div class="mb-3">
        <label for="user-email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="user-email" name="email" value="{{ user.email }}">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
<a href="{{ url_for('users_get') }}">Назад к списку пользователей</a>
{% endblock %}